footer {
    min-height: 253px;
    max-width: 100%;
    background-color: $black;

    .container {
        padding-top: 44px;

        .with_phone_number {
            display: flex;
            justify-content: space-between;
            min-height: 30px;
            align-items: center;

            button {
                background-color: $green;
                color: $white;
                border: none;
                max-width: 160px;
                height: 30px;
                font-family: "Raleway", sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 23.48px;
                text-transform: uppercase;
            }

            p {
                color: $green;
                font-family: "Raleway", sans-serif;
                font-size: 24px;
                font-weight: 700;
                line-height: 28.18px;
            }
        }


        .footer_links {
            min-height: 23px;
            max-width: 695px;
            margin: auto;
            margin-top: 52px;
            margin-bottom: 34px;


            a {
                text-decoration: none;
            }

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    color: $white;
                    font-family: "Raleway", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 21.13px;

                    &:hover{
                        color: red;
                    }
                }
            }

        }

        .reason {
            width: 100%;
            min-height: 23px;

            p {
                color: $white;
                opacity: 0.3;
                font-family: "Raleway", sans-serif;
                font-size: 16px;
                font-weight: 100;
                line-height: 18.78px;
                text-align: center;
                padding-bottom: 47px;
            }
        }
    }




}